<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ZJU SALA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header></header>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">浙江大学学生校友联络协会</a>
                <img src="~/Content/logo.png" alt="SALA" class="img-circle img-responsive" style="height:60px"/>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills navbar-nav navbar-right">
                    <li role="presentation" class="active"><a href=@Url.Action("Index","Home")><span class="glyphicon glyphicon-home"></span> 主页</a></li>
                    <li role="presentation">@Html.ActionLink("通讯录", "Index", "Members")</li>
                    <li role="presentation">@Html.ActionLink("BBS", "Index", "Massages")</li>
                    <li role="presentation">@Html.ActionLink("活动管理", "Index", "Events")</li>
                </ul>
            </div>
        </div>
    </nav>





    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <hr />



    <footer>
        <p class="text-center">浙江大学学生校友联络协会 -<small>关注微信公众号：zjusala</small></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
