@model IEnumerable<OrgSite.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/accordion.css" />

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script>
        $(function () {
            $('#accordion').accordion({
                active: false, header: "div.ui-accordion-header", collapsible: true,
            });
        });
    </script>
}
<h2 class="text-primary">活动列表</h2>
@if (OrgSite.Models.LoginStatus.IsManager(Session["login"]))
{
    <p class="text-danger text-right">
        @Html.ActionLink("添加新活动", "Create")
    </p>
}

<div id="accordion" class="ui-accordion">
    @foreach (var item in Model)
    {
    <div class="panel panel-warning">
        <div class="ui-accordion-header panel-heading">
            <div class="row">
                <div class="col-md-6 text-success "><b>@Html.DisplayFor(modelItem => item.EventName)</b></div>
                <div class="col-md-2 col-md-offset-4 text-center text-muted">@item.Status</div>
            </div>
            <span></span>
        </div>
        @*<div class="ui-accordion-content panel-body">
            <div class="row">
                <div class="col-md-3"><strong>@Html.DisplayNameFor(model => model.Detail)</strong></div>
                <div class="col-md-9">@Html.DisplayFor(mi => item.Detail)</div>
            </div>
            <div class="row li">
                <div class="col-md-3"><strong>@Html.DisplayNameFor(model => model.Type)</strong></div>
                <div class="col-md-9 text-center">@Html.DisplayFor(m => item.Type)</div>
            </div>

        </div>*@
        <div class="ui-accordion-content panel-body dl-horizontal">
            <dl>
                <dt><span class="">@Html.DisplayNameFor(model => model.EventId)</span></dt>
                <dd><span>@Html.DisplayFor(m => item.EventId)</span></dd>
                <dt><span class="">@Html.DisplayNameFor(model => model.Type)</span></dt>
                <dd><span>@Html.DisplayFor(m => item.Type)</span></dd>
                <dt>@Html.DisplayNameFor(model => model.Link)</dt>
                <dd>@Html.DisplayFor(mi => item.Link)</dd>
                <dt>@Html.DisplayNameFor(model => model.StartingTime)</dt>
                <dd>@Html.DisplayFor(mi => item.StartingTime)</dd>
                <dt><strong>@Html.DisplayNameFor(model => model.Detail)</strong></dt>
                <dd>@Html.DisplayFor(mi => item.Detail)</dd>
            </dl>
            @Html.ActionLink("查看任务与进度", "EventTasks", new { id = item.EventId }) |
            @Html.ActionLink("查看项目组人员", "EventMembers", new { id = item.EventId }) |
            @Html.ActionLink("删除活动", "Delete", new { id = item.EventId })
            @Html.ActionLink("编辑活动", "Edit", new { id = item.EventId })
        </div>
    </div>

    }

</div>
